$light: #f7f9fb;
$primary-color: #438945;
$secondary-color: darken(#438945, 15%);
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color: lighten(#438945, 58%);
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';